[2019-01-06 17:45] plumpNation opened #1 "When tag list is empty then _buildField throws an unhandled exception"
To replicate, you should just be able to pass an empty List as `tags`.

[code]

The error given is:

[code]

You can also replicate by deleting all tags, which prints out this error.

[code]

[2019-01-07 13:49] Dn-a commented on #1
@plumpNation on the new version flutter tags: "^ 0.1.6" I solved the problem

[2019-01-07 13:49] #1 closed

[2019-01-18 04:44] monxarat opened #2 "How to select a single item."
Hi guys,

How to select a single item.

[2019-01-21 20:09] Dn-a commented on #2
be more specific ... are you referring to selectable tags or to Input Tags?

[2019-01-21 22:14] monxarat commented on #2
I have used the selectable tag. I have not found any code handle this issue.

[2019-01-21 23:21] Dn-a commented on #2
Have you tris this?
onPressed: (tag){
        print(tag.title);// tag object
    },

[2019-01-22 01:35] monxarat commented on #2
What do you mean?
I want Single Selection(same Radiobutton group), not Multiselection(same CheckBox)

[2019-01-22 11:20] Dn-a commented on #2
now it's clearer ... I'll implement this feature in future versions.
now you could do something like that:
_singleCheck(Tag tag){
  _tags.where((tag) => tag.active).forEach((tag) {tag.active=false;}  ));
  tag.active=true;
}
//In onPressed method
onPressed:(tag){
_singleCheck(tag);
}
I have not tried it yet so I do not know if it works

[2019-02-02 18:41] jonfrank opened #3 "Refresh"
I have a SelectableTags widget inside my build method. I also give the user the option to go to a page and edit tags using InputTags before returning to this main screen to select tags.

I can see it’s calling my method to rebuild the SelectableTags widget but what’s displayed doesn’t change. I’ve got it to print how many tags it is using when it rebuilds and so I know it’s picking up the updated

[2019-02-03 14:08] monxarat commented on #3
I think you can using setState() for refresh your list.
Or you can post your code here.

[2019-02-07 16:12] Dn-a commented on #3
@jonfrank if you have not resolved please post your code here.

[2019-02-07 18:34] Dn-a commented on #2
@monxarat I added this feature in the new version 0.1.7.
I await your confirmation to close this issuse

[2019-02-08 09:24] jonfrank commented on #3
Sorry for the delay.

I'm holding a singleton object called TagList which has an app-wide set of tags. And then in this particular screen I want to show all those tags with only some of them selected (the ones which apply to the particular object being displayed).

In my build method I create a list of tags to feed into SelectableTags which has the full list from TagList() but some are active and

[2019-02-08 15:01] Dn-a commented on #3
@jonfrank are you referring to this method?
[code]
I think the problem is due to the loss of the reference to the List <Tag>
[code]

[2019-02-10 12:37] #2 closed

[2019-02-12 01:53] monxarat commented on #2
@Dn-a you can close this issue. But we should support choose the mode in the list.

[2019-02-12 01:54] monxarat commented on #2
@Dn-a thank you very much

[2019-02-21 12:20] LebenNNA opened #4 "Sometimes there will be cases where the content is not fully displayed. ."
Sometimes there will be cases where the content is not fully displayed. .

[2019-02-21 15:41] Dn-a commented on #4
@LebenNNA please post your code here.

[2019-02-23 02:24] LebenNNA commented on #4
These are my parameters
[code]
This is the display effect
![ae04bb42-6ecb-483a-80e2-f29dd97bb93c](https://user-images.githubusercontent.com/15353971/53280394-8cc4d080-3754-11e9-8d16-7419d157e4f2.jpg)

I use the SelectableTags..

I have another problem. When the title is short enough, I find that each tag has a minimum width, not calculated based on the byte length of the title.
@Dn-a

[2019-02-23 18:43] Dn-a commented on #4
@LebenNNA I will solve it in the next version (0.1.9).

[2019-02-25 01:43] LebenNNA commented on #4
Ok, I am looking forward to it.

[2019-02-25 01:44] LebenNNA commented on #4
I have another problem. When the title is short enough, I find that each tag has a minimum width, not calculated based on the byte length of the title.

And Can this problem be solved?
@Dn-a

[2019-02-25 10:19] Dn-a commented on #4
@LebenNNA install version 0.2.0, take a test and let me know

[2019-02-27 07:59] familfamilzade opened #5 "Auto Complete"
Actually it is not an issue but a wish :)

Is it possible to implement auto complete or suggestion feature for tags?

[2019-02-27 10:21] #3 closed

[2019-02-27 10:30] Dn-a commented on #5
Suggestion from same List<String> or anather?

[2019-02-27 10:32] familfamilzade commented on #5
from another list containing tags that haven't been inserted yet.

[2019-02-28 03:29] LebenNNA commented on #4
These are my code

[2019-02-28 03:35] LebenNNA commented on #4
![04635131-49ff-40d8-857f-e0dc0334c6b0](https://user-images.githubusercontent.com/15353971/53539499-caf33300-3b4c-11e9-9aaa-b0b69f999700.jpg)
Sometimes there will be cases where the content is not fully displayed. . @Dn-a

[2019-02-28 03:41] LebenNNA commented on #4
![qq 20190228113804](https://user-images.githubusercontent.com/15353971/53539671-77cdb000-3b4d-11e9-87ba-1e7dcb4529c5.png)

How can I set the tag to set its own length based on the length of the title?

[2019-02-28 03:42] LebenNNA commented on #4
@Dn-a

[2019-02-28 04:42] LebenNNA commented on #4
I guess the result is caused by the outlinebutton

[2019-02-28 12:49] Dn-a commented on #4
@LebenNNA it's a problem I've encountered since the beginning, but I think I've found the solution...
Wait for the next version

[2019-03-01 11:05] Dn-a commented on #4
@LebenNNA
important update in the version 0.2.1
try it and let me know

[2019-03-04 07:01] monothorn opened #6 "Input tags : Removing the last tag from the list throws IntegerDivisionByZeroException"
To replicate,
Just keep on deleting the tags until you delete the last one.
Probable cause : onDelete doesn't check for tags list length before removing

Any way to prevent that?

[2019-03-04 11:20] Dn-a commented on #6
@monothorn  please give the versiin

[2019-03-06 05:19] LebenNNA commented on #4
I still have a question, how to set the control fixed height vertically scrollable, or set only one line, then you can scroll horizontally @Dn-a

[2019-03-06 09:08] monxarat commented on #4
In the `ListView` you can set `scrollDirection: Axis.horizontal` or `scrollDirection: Axis.vertical`

example: Create a listview holding list tag
[code]

[2019-03-11 04:54] monothorn commented on #6
Yeah doesnt seem to be an issue in the latest version

[2019-03-11 04:54] #6 closed

[2019-03-11 04:58] monothorn opened #7 "How to add a limit to the maximum number of tags a user can input in an input tag?"
V0.2.1

[2019-03-11 06:35] monxarat commented on #7
I think this is handling the logic of the number items of your ListView, It's not issued in the InputTags.

[2019-03-11 13:46] #7 closed

[2019-03-15 11:55] bzd2000 opened #8 "Exception when using input decorator around InputTags"
In fact i would like to put an input decorator around the complete widget, so that i can draw a border around it and also toggle enable to make it read-only

[code]

But then i get this error
[code]

[2019-03-15 14:13] bzd2000 commented on #8
could be linked to this https://github.com/flutter/flutter/issues/24705

[2019-03-19 10:24] bzd2000 opened #9 "onInsert and onDelete confusing and difficult to manage"
I find the onInsert and onDelete implementation difficult to manage because it changes the input tags field and also triggers to inform the parent component on an insert or on a delete.
This means you cannot set it with a contructor field from the parent (which should be final)
For me the input tags fields should be immutable and then

onInsert returns the the added
onDelete returns the deleted
ev

[2019-03-19 12:31] Dn-a commented on #9
@bzd2000 I will make the two optional methods in the next version

[2019-03-19 12:48] bzd2000 opened #10 "the method of selectable tags is called every second"
I have put some log at the start of the build and it seems to be called every second.

I/flutter (27503): build  selectableTags []
I/flutter (27503): build  selectableTags []
I/chatty  (27503): uid=10085(eu.delperdange.pmp_app) Thread-3 identical 158 lines
I/flutter (27503): build  selectableTags []
I/flutter (27503): build  selectableTags []
I/chatty  (27503): uid=10085(eu.delperdange.pmp_app) Th

[2019-03-19 12:50] bzd2000 commented on #9
I think in the initstate should be changed to this (in order to make a copy of the tags in input).

 @override
  void initState()
  {
    super.initState();

    _tags = List<String>.from(widget.tags);
  }

[2019-03-19 17:49] Dn-a commented on #10
@bzd2000 please post your code.

[2019-03-20 11:04] bzd2000 commented on #10
This is the code calling the tag widget

[code]

[2019-03-21 20:24] d3xt3r2909 opened #11 "Possibility to remove tag"
It would be very good that there is a possibility to remove one tag (same as on InputTags with "x" button), but without an option, for a user to add new tags.

[2019-04-05 15:04] Dn-a commented on #9
@bzd2000 but this way you would lose the reference from the outside

[2019-04-05 21:45] Dn-a commented on #4
@LebenNNA can i close the problem?

[2019-04-06 02:58] hntan opened #12 "SelectableTags is not rebuilt"
I have two separated SelectableTags, I just want one of them to be displayed on at a time depends on given criteria named '**_category**'. the problem is whenever the '**_category**' changed, the first SelectableTags is always displayed. Noted that if I replace SelectableTags to another widget like 'Text', the logic works fine.

Can someone help me here? and sorry for my bad English.

[code]

[2019-04-06 09:58] Dn-a commented on #12
@hntan you must use the key parameter for each selectable tags...
es:
`
SelectableTags(
  key: Key("id1"),
  ..
)
`

[2019-04-06 11:18] hntan commented on #12
Oops thank so much @Dn-a . It works now after adding the 'key' property

[2019-04-06 11:18] #12 closed

[2019-04-06 14:26] asapJ opened #13 "duplicate values in Textfield."
Entered values shows up twice on the textfield.
But logging the content of my String array after onInsert callback, shows no duplicate values from the array.
N/B: duplicate is set to false too.

[2019-04-06 15:35] Dn-a commented on #13
@asapJ please post your code

[2019-04-08 09:22] LebenNNA commented on #4
ok, thank you

[2019-04-08 09:24] #4 closed

[2019-04-10 08:05] windows7lake opened #14 "Using SelectableTags in ListView，when sliding listview and tags will redraw, it cause view jitter."
Using SelectableTags in ListView，when sliding listview and tags will redraw, it cause view jitter.
Have any idea about it?

[2019-04-10 08:10] windows7lake commented on #14
There is a set of SelectableTags in the listview，after SelectableTags move out screen and then slide into the screen, it happened.

[2019-04-10 09:08] Dn-a commented on #14
@windows7lake wrap with container....if it does not work, post you code here

[2019-04-10 10:41] Dn-a commented on #13
@asapJ Resolved?

[2019-04-10 10:44] Dn-a commented on #11
@d3xt3r2909 now you can create a popupmenu with the remove function

[2019-04-10 10:44] Dn-a commented on #10
@bzd2000 have you tried the latest version?

[2019-04-10 10:47] asapJ commented on #13
Yes,  Resolved.
I cloned the project,  made edits to InputTag and used my local copy.

[2019-04-10 10:49] Dn-a commented on #13
@asapJ what was the problem?

[2019-04-10 11:07] asapJ commented on #13
In the file input_tag.dart,
In line 468, before adding the returned value to _tags,  I added a check to handle  if the _tags List already has the value being added, so there are no duplicates. For some reasons the operation of adding to _tags happens twice.
I haven't gone back to look at the code to know why that is so, but adding that check solved this issue.  @Dn-a

[2019-04-10 11:18] bzd2000 commented on #10
@Dn-a ,
I'll give it a try

[2019-04-10 11:26] bzd2000 commented on #9
@Dn-a ,
In my opinion, this is better to avoid that a widget can impact its parent(s) behavior.
I never use use by reference, because its difficult to track down where it has been changed.

I use application state (via redux) to manage shared data.

[2019-04-10 11:29] Dn-a commented on #13
@asapJ flutter version?

[2019-04-10 11:49] d3xt3r2909 commented on #11
Youp, but with popupmenu you have one additional tap for user

[2019-04-10 11:54] Dn-a commented on #11
@d3xt3r2909 I will insert this feature in later versions

[2019-04-11 12:29] Dn-a commented on #9
@bzd2000 yes you are right, but in other contexts it is easier and more convenient to have a single external temporary list (eg you could add a specific function to change the title of a tag etc ...)

[2019-04-17 14:25] Gustavoaz opened #15 "Read only tag"
I want a readonly tag, how i make this?

[2019-04-17 16:01] Dn-a commented on #15
@Gustavoaz please give me more information...are you referring to a SelectableTags or InputTags?

[2019-04-20 18:11] milosjovac opened #16 "InputTags class doesn't take inputDecoration into account while creating the input field"
To fix it, this line: https://github.com/Dn-a/flutter_tags/blob/20adfae6398eb775926ec607454f6d6659b8822e/lib/input_tags.dart#L473 should look like this:

[code]

[2019-04-23 10:30] Dn-a commented on #16
@milosjovac ok, thanks

[2019-04-24 14:18] Gustavoaz commented on #15
@Dn-a SelectableTags, when user click I don't want that stay actived, my code:

`
_selectableTags
            .add(Tag(id: cnt, title: tag, active: false, icon: null));

SelectableTags(
            tags: _selectableTags,
            fontSize: widget.fontSize,
            symmetry: false,
            activeColor: Colors.lightBlue,
            color: Colors.white70,
            textActiveColor: Colo

[2019-04-24 16:06] Dn-a commented on #15
@Gustavoaz ok, all or just some?

[2019-04-26 12:47] Gustavoaz commented on #15
@Dn-a all

[2019-05-06 14:10] jerinho opened #17 "Could not read input channel file descriptors from parcel"

[2019-05-07 13:16] Vitaly-V commented on #16
[https://github.com/Dn-a/flutter_tags/pull/18](url)

[2019-05-07 13:30] Dn-a commented on #16
@Vitaly-V ok merged.

[2019-05-07 13:30] #16 closed

[2019-05-09 10:44] Dn-a commented on #17
@jerinho I don't think it's due to the plugin.
when does the error occur? if possible, post your code

[2019-05-19 01:48] milosjovac commented on #14
When wrapped with container there is a render overflow for a couple of ms, so this cannot be used as a solution.

![image](https://user-images.githubusercontent.com/2808506/57976655-6d50e300-79e5-11e9-876d-7c5ef10be5ac.png)

By debugging I have noticed that `build` method of class `_SelectableTagsState` is always called 2 times. Once with `_width=0.0` and second time with real `_width` value calcu

[2019-05-19 11:08] Dn-a commented on #14
@milosjovac Ok thanks.
is a problem due to the fact that to get the exact width it is necessary to first build the layout, then build is called to set the width previously obtained.
I will make the necessary changes.

[2019-05-22 19:14] dvird opened #19 "Id is int"
Usually Id is a string type
Can you update it to String?

[2019-05-23 11:31] Dn-a commented on #19
@dvird ok

[2019-05-23 17:25] #19 closed

[2019-05-24 17:59] 7wonders commented on #16
Found a similar issue with the suggestions text style. Added pull request #20 to deal with it.

[2019-05-24 19:34] 7wonders opened #21 "Feature request: Add option to have text field on separate row"
As mentioned in the title, it would be great to be able to have the text field for input tags on its own row with the tags above or below the field.

[2019-05-24 21:53] Dn-a commented on #21
@7wonders sure, I'll add it in the next release!

[2019-06-06 18:52] alice-0-kim opened #22 "Purposes of popupMenuBuilder and popupMenuOnSelected on SelectableTags"
Hi! Please let me know if questions like this can be better answered elsewhere, but I was hoping to learn more about the purposes of **popupMenuBuilder** and **popupMenuOnSelected** on SelectableTags. What are the sole purposes of those and where can I see the examples/demos using such options? I noticed that the example snippet of code on README.md makes use of those options, but I simply do not

[2019-06-07 13:22] Dn-a commented on #22
@alice-0-kim
of the popupMenu generally you could do without it. it could be useful in particular cases, like the possibility to perform a specific function based on the text of the tag.

[2019-06-07 16:39] alice-0-kim commented on #22
Thanks for taking the time to answer my question! Perhaps, is there a demo for that part specifically?

[2019-06-07 16:52] Dn-a commented on #22
@alice-0-kim no but I could add some details in the future

[2019-06-08 23:51] alice-0-kim commented on #22
That'll help a lot, thanks!

[2019-06-08 23:51] #22 closed

[2019-06-20 01:02] gmkado commented on #13
Same issue and fix worked for me
[√] Flutter (Channel beta, v1.6.3, on Microsoft Windows [Version 10.0.17134.829], locale en-US)
    • Flutter version 1.6.3 at C:\Program Files\flutter
    • Framework revision bc7bc94083 (4 weeks ago), 2019-05-23 10:29:07 -0700
    • Engine revision 8dc3a4cde2
    • Dart version 2.3.2 (build 2.3.2-dev.0.0 e3edfd36b2)

[2019-06-20 11:47] Dn-a commented on #17
@jerinho solved?

[2019-06-20 12:28] Dn-a commented on #10
@bzd2000  solved?

[2019-06-20 13:27] Dn-a commented on #14
@milosjovac @windows7lake fixed in 0.3.2 version.

[2019-06-20 13:27] #14 closed

[2019-06-20 13:27] Dn-a commented on #13
@gmkado @asapJ fixed in 0.3.2 version.

[2019-06-20 13:27] #13 closed

[2019-07-27 15:20] Dn-a commented on #21
@7wonders new version 0.4.2.
check and leave feedback

[2019-07-27 15:20] #17 closed

[2019-07-27 15:20] Dn-a commented on #15
@Gustavoaz new version 0.4.2.
check and leave feedback.

[2019-07-27 15:20] #15 closed

[2019-07-27 15:21] Dn-a commented on #11
@d3xt3r2909  new version 0.4.2.
check and leave feedback

[2019-07-27 15:21] #11 closed

[2019-07-27 15:21] Dn-a commented on #10
@bzd2000 new version 0.4.2.
check and leave feedback

[2019-07-27 15:21] #10 closed

[2019-07-27 15:22] Dn-a commented on #9
@bzd2000 new version 0.4.2.
check and leave feedback

[2019-07-27 15:22] Dn-a commented on #8
@bzd2000 new version 0.4.2.
check and leave feedback

[2019-07-27 15:22] #8 closed

[2019-08-15 16:00] moovida commented on #21
@Dn-a , does this mean you added the functionality? I was not able to have it on a different row.
It works at the begin, but after removing and adding some tags, new inserted tags appear in front of the textfield.

[2019-08-15 16:01] moovida opened #26 "Feature wish: drag and drop"
Drag and drop to reorder elements would make it even more sexier. :-) That would be soooo cool.

BTW, thanks for this beauty :-)

[2019-08-15 18:52] Dn-a commented on #21
@moovida do you mean a textfield that occupies the whole line and with the possibility of inserting it at the beginning or at the end?

[2019-08-16 04:41] moovida commented on #21
Actually I was thinking of a text field on top and all the tags added below it. Currently, when a new line is added, the tag is added at the begin of it, like in the below example when I add "add2" after the other 4:

![image](https://user-images.githubusercontent.com/390250/63143882-be767000-bff0-11e9-91f2-b2cc8200c82d.png)

I would rather have it appearing below the textfield. Actually I aslo tr

[2019-08-16 14:23] Dn-a commented on #21
@moovida now it is clear to me ... try setting the width in TagsTextFiled.

`TagsTextFiled(width: 400)`

[2019-08-19 07:54] moovida commented on #21
Ahh, that works indeed. It should be ok to set an extra large value in order to be on one line also on larger devices, right?

[2019-08-19 10:04] Dn-a commented on #21
@moovida yes, overflow problems should not occur. however, in the next release I will put a specific parameter

[2019-08-21 15:10] bingweibi opened #27 "some question"
How to make certain tags light at the beginning

[2019-08-22 10:20] Dn-a commented on #27
@bingweibi Please provide more information

[2019-08-22 11:09] bingweibi commented on #27
What I want to say is that some tags are active = true at the beginning, not all true or false.

[2019-08-22 16:16] Dn-a commented on #27
@bingweibi for each tag you can decide whether it should be true or false. example with ternary operator
`active = ( i < 3 || i > 10 ? true : false);`

[2019-08-24 02:30] bingweibi commented on #27
ok, thank you

[2019-08-24 02:30] #27 closed

[2019-08-28 22:27] barees63 opened #28 "How to force rebuild of Tags when active state has changed?"
I have 3 Tags widgets on a page and the active state of the items in each widget is controlled by a _selectedTags list in the stateful parent widget state.

If I update this list using setState (via OnPressed) the only widget that updates is one that is pulling its content directly from _selectedTags (ie. the length of this list has changed which seems to force a rebuild), the other two widgets ar

[2019-09-02 11:00] Dn-a commented on #28
@barees63 setState should work ... could you post your code?

[2019-09-03 21:05] barees63 commented on #28
Here is a simple example, if you select an item from the second widget it gets added to the list of selected items, however if you remove an item from the first widget, selectedItems updates as expected but the "Active" state of the corresponding item in the second widget is not refreshed.. (this absolutely could be me not properly understanding the way stateful widgets work so I apologize in adva

[2019-09-04 10:13] Dn-a commented on #28
@barees63 have you tried to comment on this? `active: _selectedTags.contains(item)`

[2019-09-04 21:05] barees63 commented on #28
well the issue is we have a lot of tags that are separated into groups (individual Tags widgets) and we need to be able to "select" tags in any group and have them added into the _selectedTags array (works) plus have this state change update the active flag of any duplicate tags in other groups (doesn't work).

I guess I'll fork this lib for now and see if I can find a way to make it work for me..

[2019-09-06 22:20] barees63 commented on #28
FWIW this issue resolved for me when I moved selectedTags into global state.  I think it was just my own confusion about how stateful widgets get rebuilt.  Thanks for the great package!

[2019-09-06 22:20] #28 closed

[2019-09-09 17:31] SamadiPour opened #29 "CircleAvatar of image"
image property is too much limited! it would be better if you change
```final ItemTagsImage image;```
to
``` final widget image; ```
or at least put some option to enable/disable CircleAvatar!

thanks for your awesome library

[2019-09-09 18:16] Dn-a commented on #29
@SamadiPour thanks for your feedback.
 I'll do my best in the next release.

[2019-09-10 13:34] divyankvijayvergiya opened #30 "Limitations while selecting tag"
Can anyone please help me how do we limit the selection of tags like I just want to add 3 tags if user going to add more than 3 tags then it will show some error message. When I am trying this I am not able to restrict user while selecting tags more than 3.

[2019-09-13 06:58] bingweibi commented on #30
when set item.active = false;  say "active" can't be setter， because it is final

[2019-09-13 07:02] bingweibi commented on #30
I hope that when I choose a certain number of labels, then I can’t choose other. How can I achieve them?

[2019-09-15 05:03] johnmastri opened #31 "Suggestions moves textfield up and suggestions do not align perfectly with text"
Here is the textfield without any text in it.

![image](https://user-images.githubusercontent.com/1303044/64916833-9d19b880-d743-11e9-807c-4b14eb030782.png)

Here is the textfield with text - it shifts up (compare spacing to the gray box above the 'f').

![image](https://user-images.githubusercontent.com/1303044/64916836-a6a32080-d743-11e9-8213-4fc9cf4d2e1b.png)

Here is the textfield with a sugge

[2019-09-15 08:15] Dn-a commented on #31
@johnmastri Android or iPhone? Post your code plese

[2019-09-15 14:35] johnmastri commented on #31
Here you go - thanks:

[code]

[2019-09-15 20:48] Dn-a commented on #31
@johnmastri the problem occurs when you use the height parameter.
[code]
 I will solve in the next release

[2019-09-17 16:34] divyankvijayvergiya commented on #30
@bingweibi that's the same thing I want to ask and @SamadiPour as you mentioned item.active = false but it can't be possible because it is mentioned final in plugin if I changed that code in plugin and remove final from it still it is not changing the status of active item to inactive

[2019-09-17 17:44] SamadiPour commented on #30
@divyankvijayvergiya yeah i was wrong and i don't know any other way :(

[2019-10-04 04:45] sapphire008 opened #32 "Feature Request: Add controller for Tags"
It would be very nice if a controller can be called to get the list of active ItemTags. Currently, I have to store the list of active tags in a separate List variable.

[2019-10-05 14:29] hatano0x06 opened #33 "I want to add no matched tag when using suggestions"
I think this is very good package!!

I want to ask, why I can't add no matched tag when using suggestions?
Is there are reason that you can't do?

I think, this "if" is prevent to do that
https://github.com/Dn-a/flutter_tags/blob/master/lib/src/suggestions_textfield.dart#L135
and
https://github.com/Dn-a/flutter_tags/blob/master/lib/src/suggestions_textfield.dart#L128
change to be
[code]

thank you

[2019-10-05 17:00] Dn-a commented on #33
@hatano0x06 thanks for feedback!
does the problem occur on the emulator? Android or IOS? what version of flutter are you using?

[2019-10-05 17:09] Dn-a commented on #33
@hatano0x06  does the problem occur on the emulator?Android or IOS?what version of flutter are you using?

[2019-10-05 17:25] hatano0x06 commented on #33
@Dn-a
It happend at Android.
It both happen in emulator and device.

I'll show result when I run `flutter doctor`.
[code]

[2019-10-05 17:30] Dn-a commented on #33
@hatano0x06 update to the latest stable flutter version [https://flutter.dev/docs/development/tools/sdk/releases](releases) and retry

[2019-10-05 18:55] hatano0x06 commented on #31
I found nearly problem.
if i use multibyte word, it going to be miss

![byte-word](https://user-images.githubusercontent.com/7422251/66259543-1cebed80-e7ed-11e9-9a14-10e927cecfbd.png)
![multibyte-word](https://user-images.githubusercontent.com/7422251/66259545-25442880-e7ed-11e9-8f64-7d33f65129fb.png)

[2019-10-05 19:04] Dn-a commented on #31
@hatano0x06 thanks for the report. I will solve it in the next releases.

[2019-10-05 19:05] Dn-a commented on #33
@hatano0x06 you solved?

[2019-10-05 19:06] hatano0x06 commented on #31
@Dn-a thank you!
I will be happy for next release!

[2019-10-06 07:42] hatano0x06 commented on #33
@Dn-a
Sorry, I take time to upgrade
I upgrade to `v1.9.1+hotfix.4` but have same problem
[code]

[2019-10-06 11:53] Dn-a commented on #33
@hatano0x06  could you provide the source code and possibly even some screenshots?

[2019-10-06 12:29] hatano0x06 commented on #33
@Dn-a
I upload to my repository!
https://github.com/hatano0x06/sample_of_flutter_tags

[2019-10-06 14:13] Dn-a commented on #33
@hatano0x06 would you like to use a list of tags that block the entry?

[2019-10-06 14:28] hatano0x06 commented on #33
@Dn-a
I my case, I want to allow users to add tags dyanamicly.
In order to do so, it must able to add tags that do not appear in suggest.
So, I don't want to block the insert.
I want to insert tag freely

[2019-10-06 14:38] Dn-a commented on #33
@hatano0x06 now it is clearer ... I did not foresee this possibility but I will insert a parameter in future releases.

[2019-10-06 15:12] hatano0x06 commented on #33
@Dn-a thank you!
I will waiting for that!

[2019-10-16 21:52] #9 closed

[2019-10-16 22:15] Dn-a commented on #32
@sapphire008 new release 0.4.4.
[code]
check and leave feedback.
thanks

[2019-10-16 22:16] Dn-a commented on #31
@hatano0x06 @johnmastri new release 0.4.4, check and leave feedback.
thanks

[2019-10-16 22:16] Dn-a commented on #29
@SamadiPour new release 0.4.4, check and leave feedback.
thanks

[2019-10-16 22:19] Dn-a commented on #21
@moovida did you solve with the width field?

[2019-10-17 04:08] moovida commented on #21
@Dn-a , oh yes, sorry for not coming back to you on that. Thank you!

[2019-10-17 08:29] Dn-a commented on #21
@moovida @7wonders  perfect! then I can close it

[2019-10-17 08:29] #21 closed

[2019-10-17 14:39] SamadiPour commented on #29
@Dn-a
Thanks for your support ❤️

[2019-10-17 14:39] #29 closed

[2019-11-11 13:53] #32 closed

[2019-12-02 13:41] Bapth-dej opened #36 "Add a disabled/enabled prop to TagsTextField"
It would  be nice to have a disabled/enabled property to the text field!

As an "enabled" prop already exists in a regular TextField, I guess it is doable ?

[2019-12-02 15:17] Dn-a commented on #36
@Bapth-dej yes, will be available in the future release

[2019-12-20 08:30] monxarat opened #37 "The item in the first position is NULL."
When I get all items, the item at 0 is null.
`List<Item> lst = _tagStateKey.currentState?.getAllItem;`

<img width="480" alt="Screen Shot 2019-12-20 at 17 28 55" src="https://user-images.githubusercontent.com/4075787/71241175-5218ce00-234e-11ea-93c5-2409efb50385.png">

[2020-01-20 09:06] ykaito21 opened #39 "Is it possible to achieve horizontal scroll with multiple rows?"
I'm trying to achieve horizontal scroll with multiple rows. I tried `horizontalScroll: true,`, but it only show a single row. Is there any way to do it?
By the way, Thanks for building such a nice package!

[2020-01-20 11:30] Dn-a commented on #39
@ykaito21 I'm sorry, at the moment it is not possible...you could temporarily use 2 widget tags as a solution.

[2020-01-20 12:50] MihaelaTIMIS opened #40 "text field start"
Is it possible to have the text field before tags ?
I saw in demo that feature, but i can't find id in properties.
Thanx

[2020-01-20 13:26] Dn-a commented on #40
@MihaelaTIMIS of course, just use these parameters
[code]

[2020-01-20 13:40] MihaelaTIMIS commented on #40
And it worked! Thanks a lot 👍

[2020-01-20 13:41] #40 closed

[2020-01-23 11:09] MihaelaTIMIS opened #41 "disable shadow"
Can I disable the shadow of ItemTags ?  Thank you.

[2020-01-23 19:09] Dn-a commented on #41
@MihaelaTIMIS use elevation field
[code]

[2020-01-27 06:15] ykaito21 opened #42 "Is it possible to change cursor color of TagsTextField?"
I couldn't find the way to do it.

[2020-01-27 06:25] ykaito21 commented on #42
I just override my theme especially CupertinoThemeData, and I can change the color. Maybe having cursorColor option would be nice, but of course, it's not necessary. Thanks for your work!

[2020-01-27 06:25] #42 closed

[2020-02-05 11:57] s72863 opened #43 "Is it possible to place textfield before tags?"
I'm trying to place to textfield before the tags but can't find an option to do so. Is there a way to do it? Thanks for the great package!

[2020-02-05 13:34] Dn-a commented on #43
@s72863 of course, look this #40

[2020-02-06 09:33] s72863 commented on #43
Thank you very much!

[2020-02-06 09:33] #43 closed

[2020-02-08 21:02] Dn-a commented on #41
@MihaelaTIMIS solved?

[2020-02-10 10:04] ykaito21 opened #44 "Cancel onRemove"
I would like to ask user to remove tag or not before actually remove it with AlertDialog, but when I tried to do it, onRemove automatically remove item at that index and cause `RangeError (index): Invalid value: Not in range 0..5, inclusive: 6`.

Is there any temporary way to prevent this? If no, I wish to have it as feature request.
Could be adding onTap callback to `ItemTagsRemoveButton` itself,

[2020-02-10 12:54] MihaelaTIMIS commented on #41
yes! thanks ;)

[2020-02-10 12:54] #41 closed

[2020-02-20 10:40] Chris-CWZ commented on #28
hey @barees63, may i know what you mean by moving selectedTags into global state? I'm currently facing an issue where i'm using the tags as filters for a search request, so when a person clicks on "reset filters" I need to change the 'active' attribute of each ItemTag to be false. However this does not seem doable no matter how I use setState(). Hoping you could enlighten me!

[2020-02-21 04:13] Chris-CWZ commented on #28
also, i've tried using the key of the tags to get all of the items under the tag, and if they were 'active', try to change the 'active' to false. however, trying to set active to false throws me an error as it states that 'active can't be used as a setter because it is final'. Would appreciate any help on how else to change the 'active' attribute of each item manually, thanks! Below is my code to

[2020-02-26 14:03] #5 closed

[2020-02-26 14:04] #31 closed

[2020-02-26 17:46] Dn-a commented on #37
@monxarat I did some tests but I didn't find any side effects

[2020-02-26 19:27] Dn-a commented on #44
@ykaito21 I added a bool return value in the onRemoved method. ( true:delete, false: does nothing).
check it and let me know

[2020-02-26 19:27] #44 closed

[2020-02-26 19:28] Dn-a commented on #36
@Bapth-dej added in version 0.4.7

[2020-02-26 19:28] #36 closed

[2020-02-26 19:30] Dn-a commented on #33
@hatano0x06 since version 0.4.7 you can do it using the constraintSuggestion field. check and let me know

[2020-02-26 19:30] #33 closed

[2020-02-28 13:22] maheshlalu opened #45 "Stop keyboard hide when click on Done button"
How to stop keyboard hide when click on done button.

[2020-03-01 02:12] canada4439 opened #46 "The truth about "active" tag"
Hi @Dn-a Great work with the new ^0.4.7 flutter_tags version !!!
It seems that the `active` property is not working when we need to activate a specific tag programatically. For example : `active: (index == 1) ? true : false,` does not activate the 1st Tag only.

Here is a short example that works with no errors... I was expecting that one of the tags is already activated when the app starts... but

[2020-03-01 11:59] Dn-a commented on #46
@canada4439 when starting the app with singleItem: true, all tags will have active: false. it is a use case that I had not considered but that I will implement in later versions. Temporarily to solve the problem, when starting the app, you could set singleItem: false, set active: true where you want and set singleItem: true when the boot is complete.

[2020-03-02 03:27] canada4439 commented on #46
@Dn-a thanks a lot Antonino... I didnt know that `singleItem:true` turns off `active:`.
Would be useful to adjust as very often we need to "activate" a tag in code... for example when `longpress` currently it does not activate... so need to take care in code.

I will close the issue... then I will try your suggestion... I will let you know if any issue...
Again, great work !!!
;0)

[2020-03-02 03:27] #46 closed

[2020-03-03 15:00] maheshlalu commented on #45
please update me

[2020-03-03 15:03] maheshlalu opened #47 "How to restrict the row and enable vertical scroll"
How to restrict the row and enable vertical scroll after 3 rows.

[2020-03-03 15:14] maheshlalu commented on #47
@Dn-a please help me out.

[2020-03-04 01:57] kwent commented on #47
I would be interested by this feature as well !

[2020-03-09 10:22] ykaito21 commented on #44
Thanks for working on my request. I tried it, but actually I couldn't assign `Future<bool>` to use result of AlertDialog. I decided to use onLongPressed instead of onRemove, and it works fine. Anyway, I really appreciate your continuous hard work to improve this awesome package.

[2020-04-04 08:44] long1eu opened #48 "Breaking changes"
Hi!

Awesome package, but keep in mind that breaking changes should be handled with great care. Make sure you read the semantic versioning documentation.
https://semver.org/

There is also a dart package that tells you the break breaking version that you should use when releasing a change like this in your api surface.
https://pub.dev/packages/pub_semver

[2020-04-04 11:26] Dn-a commented on #37
@monxarat solved?

[2020-04-04 11:29] Dn-a commented on #45
Hi @maheshlalu, would you like to hide the keyboard after inserting a tag?

[2020-04-04 11:31] Dn-a commented on #47
@maheshlalu you should do it with customscrollview

[2020-04-04 11:50] Dn-a commented on #48
@long1eu Thank you very much for the advice!

[2020-04-04 12:25] #48 closed

[2020-04-04 12:26] long1eu commented on #48
No problem. Again, awesome work.

[2020-04-21 11:26] sumitrvi opened #49 "Inside FutureBuilder is not working"
Inside the futurebuilder it's not working.when i'trying with futurebuilder after getting response inside the connectionState.done again call future method again  and again.
Code:-
return FutureBuilder(
        future: Connection.getinterestApi(),
        builder: (context, snapshot) {
          switch (snapshot.connectionState) {
            case ConnectionState.none:
              // TODO: Handle

[2020-04-26 10:40] hardikJoshi123 opened #50 "Lazy loading tags"
Hi. Thank you for great library for tags in Flutter. In my app I am allowing users to select tags from predefined tags. There are about 400 Tags in my app. But its quite take much time to load widget (Tags) in my app.  Is there any specific reason OR limit for tags?

 More info : I am not showing any specific images within tags. Just String title.

[2020-04-26 10:54] hardikJoshi123 commented on #50
Issue fixed. It was issue for wrong size. Instead of 400, I was passing 4000

[2020-04-26 10:54] #50 closed

[2020-04-26 11:26] hardikJoshi123 opened #51 "Maximum selection"
Hi, thank you for this awesome tags library. Is there any parameter for the maximum N number so user can not select more than given number of tags?

 In our app, we are allowing user to select 3 interests from given 400 interests in popup. Once 3 tags get selected, how to load them with active states once popup shows again?

 Thank you!

[2020-04-26 14:40] Dn-a commented on #51
@hardikJoshi123  You will have to use an external list where you store the active tags, and in itembuilder carry out a check with the list of all the other elements. In the active parameter of ItemTags set true for the corresponding tag. You can get the active tags from ItemTags onPressed callback

[2020-04-26 17:34] richardracz commented on #45
Hello, changing the text input action to 'next' in suggestions_textfield.dart fixed the issue for me. Surely there is a much more elegant way of doing this, but at least this seem to work for now. Good luck!

in suggestions_textfield.dart, under build/Stack/TextField
[code]

[2020-05-21 08:43] davidmednikov opened #52 "Can the suggestions prop not be case-sensitive?"
Is it possible to make the suggestions matching non-case-sensitive?

[2020-05-21 16:00] Dn-a commented on #52
@davidmednikov it is not easy to implement

[2020-05-21 17:18] davidmednikov commented on #52
I was able to implement it the following way:

In `suggestions_textfield.dart`, line 154 and 155:

[code]

I replaced this with:

[code]

Then, for the `TagsTextField` widget:

[code]

[2020-05-21 21:32] Dn-a commented on #52
@davidmednikov yours is a great job! I just wanted to avoid adding all this logic when instead a good practice would be to avoid upstream the use of contemporary uppercase and lowercase text in the suggestions. However, I will take your work into consideration, and carry out checks.

[2020-06-07 11:32] Maclaon opened #53 "singleItem not working with multi-tags!"
[code]
[code]
when i click the tags  in first `SelectTags`, it working, but not working in second `SelectTags`!

[2020-06-07 11:51] Maclaon commented on #53
even i use two different widgets, it was still not working! it is weird!

[2020-06-07 12:01] Dn-a commented on #53
hi @Maclaon, have you tried to define a key? example:
`Tags( key: 'tags1', ...)`
`Tags( key: 'tags2', ...)`

[2020-06-08 00:52] Maclaon commented on #53
Oh!, sorry, my problem, the two widgets has same `key`! i will give it a try~

[2020-06-08 13:53] Maclaon commented on #53
@Dn-a hi, when set different key in `Tags` it was still not working, and the second `Tags` error when i click on it is follow:
[code]

[2020-06-10 03:57] Maclaon commented on #53
@Dn-a can u take a glance at this issue! i appreciate~

[2020-06-10 08:18] Dn-a commented on #53
@Maclaon I have to do some tests

[2020-06-13 13:28] Maclaon commented on #53
@Dn-a  hi~ buddy, i am looking forward to your answer!

[2020-06-16 01:17] Maclaon commented on #53
i found another [lib](https://pub.flutter-io.cn/packages/chips_choice#-readme-tab-) for my app. Thank u!

[2020-06-16 01:17] #53 closed

[2020-06-16 18:26] Faiyyaz commented on #45
I have done this and made a PR. waiting for approval

[2020-07-03 13:50] pradt opened #55 "Correction to the Example"
I tried to use the example provided in the readme and it didn't work, after digging around I noticed that what you actually need instead of

[code]

is

[code]

It might help others out.

[2020-07-03 17:48] Dn-a commented on #55
@pradt thanks for the hint

[2020-07-10 14:54] user97972 opened #56 "Model() is not defined?"
Model is not defined in this code.What should i do?

[2020-07-11 14:31] Dn-a commented on #56
@user97972 Model() is any object that returns a Future object with a list

[2020-07-20 01:11] lizbrownwood opened #57 "autofocus: false does not allow the keyboard to open"
I need to set autofocus to false because I am using it in a form with other text fields and I don't want to focus on tags as it is at the end of the form. However, when I set that to false, when tapping on new tags text field, it comes out of focus immediately and closes the keyboard before user get a chance to type anything.

[2020-07-20 01:17] lizbrownwood commented on #45
@Faiyyaz, I have the same issue. By setting the autofocus to false, the keyboard hides when I try to type in text field:
`Widget addTags = Tags(
      textField: TagsTextField(
        width: 100,
        autocorrect: true,
        autofocus: false,
        suggestionTextColor: Colors.green,
        textStyle: TextStyle(
          fontSize: _fontSize,
          //height: 1
        ),
        enabl

[2020-07-20 02:27] Faiyyaz commented on #45
Are you trying this on simulator? Because on simulators we can use the hardware keyboard so the keyboard gets hide. And if you don't want your keyboard to hide on done, you can check my fork and clone it!

[2020-07-20 04:14] lizbrownwood commented on #45
@Faiyyaz, no I am running it on device. The problem is with setting 'autofocus: false'
when I click on the tags text field, the focus jumps on another text field.

[2020-07-20 04:18] Faiyyaz commented on #45
Okay. I had a different issue I didn't wanted to close the keyboard when you write and submitted a tag. I will try to check your issue later and will let you know if it happens with me too.

[2020-07-20 04:28] Faiyyaz commented on #45
Try this code its working fine for me

[code]

[2020-07-22 04:23] lizbrownwood commented on #45
Thanks a lot Faiyyaz for the example. It helped me figure what was the problem and it works as it should now.

[2020-07-22 04:23] #57 closed

[2020-07-22 04:23] lizbrownwood commented on #57
Not a bug.

[2020-07-22 04:30] Faiyyaz commented on #45
You're welcome @lizbrownwood. Happy to help!

[2020-07-31 12:20] avi-yadav commented on #47
I just wrapped the `Tags` widget inside a `ListView` and gave only one child.

[2020-08-03 16:19] jithinjoycy opened #58 "How to inactive all tags?"

[2020-08-06 13:55] FerBueroTrebino opened #59 "Do not allow white spaces in the middle of a tag"
Hello, thanks for the Package, it is working great!

I need to create tags like hashtags with no spaces, I know how to trim the input of the user, but I would like to not allow the user to input a tag with white spaces in the middle, I think a way to achieve this is to fire onSubmitted when the user press the space bar.
Anyone can help me to achieve this? I've been looking for a solution with no r

[2020-08-20 23:19] bartonhammond opened #60 "Clicking on TagsTextField causes rebuild"
I am using this class in two widgets.  In one it works fine, in the other not even though they use it the same way.

When I click on the `TagsTextField`, the widget rebuilds and loses focus and no data can be entered.  I've compared the two containing widget trees and cant see any difference.

I've seen SO issues like this: https://stackoverflow.com/questions/56412548/flutter-textfield-rebuilds-wi

[2020-08-24 17:44] bartonhammond commented on #60
Boy, do I feel stupid.  It turned out I was using `device_preview` (which is awesome in helping UI device sizeing) with iPhone 8 running inside iPad.  I turned it off as below, and everything is fine.
[code]

[2020-08-24 17:44] #60 closed

[2020-09-15 12:33] Dn-a commented on #59
Hi @FerBueroTrebino , you could do it using regular expressions [RegExp](https://api.dart.dev/stable/2.9.1/dart-core/RegExp-class.html). Something like this:
[code]

[2020-09-17 11:06] FerBueroTrebino commented on #59
Thanks @Dn-a for you help! I solved in this way:

onSubmitted: (String tag) {
            businessProvider.addLabelTemp =
                (tag.replaceAll(RegExp('[# ]'), ''));
          },

[2020-09-18 12:53] #56 closed

[2020-10-12 05:41] songxing10000 commented on #46
same question

[2020-10-12 17:20] f2acode opened #63 "How to programmatically submit the tags?"
I wanted to submit using a button (maybe from input decoration), so that the user has another option instead of just the keyboard to submit, is that possible?

[2020-10-15 08:51] RomanSoviak opened #64 "Text not fully displayed"
Hi my text in text field not fully displayed in Flutter WEB

![image](https://user-images.githubusercontent.com/26696190/96100051-99270f80-0edc-11eb-9e35-c965fd4bce5d.png)
`Tags(
                          runAlignment: WrapAlignment.start,
                          alignment: WrapAlignment.start,
                          key: _tagStateKey,
                          textField: TagsTextField(

[2020-10-15 10:26] RomanSoviak commented on #64
I cannot see letters: g,q, p, y

[2020-10-16 10:16] Dn-a commented on #64
@RomanSoviak thanks for the report. Flutter Tags in the WEB version has not been widely tested as Flutter WEB is still in beta version so it may show some side effects.

[2020-10-16 10:19] Dn-a commented on #63
@f2acode thanks for the report. in the next releases I will add this feature

[2020-10-16 10:22] #59 closed

[2020-10-16 14:36] RomanSoviak commented on #64
@Dn-a thanks for the quick response! I hope you it will be fixed in the nearest future

[2020-10-28 19:42] Lix-ai opened #65 "How to create multiple global keys for the flutter-tags?"
How to create multiple global keys for the flutter-tags?
If i try to create i get:
"
I/flutter (16281): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (16281): The following assertion was thrown while finalizing the widget tree:
I/flutter (16281): Duplicate GlobalKey detected in widget tree.
I/flutter (16281): The following GlobalKey

[2020-10-29 08:48] Lix-ai commented on #65
OR instead use the <TagState> in a localkey

[2020-10-29 11:24] Dn-a commented on #65
hi @Lix-ai, could you please share the code?

[2020-11-10 19:32] omnifer opened #66 "Single item mode is not working properly with horizontal scroll"
Selecting tag item causes an exception in case Tags widget builds with `horizontalScroll: true` and ItemTags - with `singleItem: true`.

I'm very new in flutter, but I've made a small investigation.
It looks like, that in case horizontal scrolling with no symmetry the default ListView widget is used for building tag items list. If `singleItem` mode is true, selecting of tag item causes an exceptio

[2020-11-11 10:08] Dn-a commented on #66
hi @omnifer, could you post the code? you must also indicate the version with flutter doctor

[2020-11-11 11:22] omnifer commented on #66
Hi, @Dn-a
I've made a sample app and pushed code [here](https://github.com/omnifer/flutter_tags_single_item), you can clone and run it.

Also the bug exists in example app from this repository. You can reproduce it with steps I wrote above.

flutter doctor -v
[code]

[2020-11-11 13:22] Dn-a commented on #66
@omnifer yes it's a bug and I will fix it in the next release asap.
thanks.

[2020-11-11 13:58] Dn-a commented on #66
new release [0.4.9+1](https://pub.dev/packages/flutter_tags)

[2020-11-11 13:58] #66 closed

[2020-11-15 03:48] 978740431 opened #67 "Can I set a different color for each tag?"
I wanted to get that effect.Is there a way to set it up now?
![image](https://user-images.githubusercontent.com/11803404/99162407-78024a80-2738-11eb-88c5-e6d2e35223d3.png)

[2020-11-15 20:44] Akiat opened #68 "Preserve the scroll position between tabs (so, after a widget rebuid)"
Hi,

First of all, thanks for this great widget 👍

Here is my issue: I have an app with a `TabBar`, and obvously, multiple tabs. In each tabs I have my `Tags` widget on the top, with `horizontalScroll: true`.

I would like to preserve the horizontal scroll position when I switch from a tab to another.

I tried to do that with a `ScrollController` but there is no `controller` parameter for the `Tag

[2020-11-16 11:03] Dn-a commented on #68
Hi @Akiat, I will add this feature in the next release.

[2020-11-16 15:04] Akiat commented on #68
Great, thank you @Dn-a :)

Do you have any idea when it will be released? (approximatively ?)

[2020-11-16 15:11] Akiat opened #69 "Allow deselection of a tag when singleItem is true"
Another feature request, but not urgent :)

I have a situation where it could be great to be able to deselect the tag (to have no tag selected) when the `singleItem` parameter is `true`.

Have a great day.

[2020-11-16 17:01] trifox83 opened #71 "Programatically select a tag during build and trigger onPressed event"
My suggestion is to add a new attribute, so when the tags are building, that particular tag will be automatically selected and the onPressed event triggered.

[code]

[2020-11-17 09:53] Dn-a commented on #68
@Akiat I hope next week

[2020-11-17 10:03] Dn-a commented on #71
hi @trifox83 the active parameter already exists
[code]
I seem to have understood that in addition you would like a onPressed trigger event, if item is true?

[2020-11-17 10:31] Akiat commented on #71
I need the same behaviour for my app, and I already used the active parameter, without chance: the tag stay unselected. I have the following code:

[code]

Maybe I done something wrong ?

For the second part, I also thought it will be good to trigger the active element ònPressed`, or maybe have a bool parameter for this choice (maybe in some case, this is not the desired behavior).

EDIT: My `tabD

[2020-11-17 13:53] trifox83 commented on #71
This one does not work for singleItem: true.
I'm using single item tags for selector as alternative to dropdown. So when the user navigate to the page the previously selected option needs to be highlighted.

As for item onPressed, it's good to have, but optional as there are workarounds.

[2020-11-17 15:52] Dn-a commented on #71
@trifox83 I will see what I can do

[2020-11-17 15:54] Dn-a commented on #71
@Akiat Do you mean that when you change the status in tabDetails.selectedTag then this should be reflected automatically in the tag?

[2020-11-17 15:58] Akiat commented on #71
If there is a rebuild and with this line `active: tabDetails.selectedTag == item ? true : false`, I think it should be the normal behaviour yes, but maybe I'm wrong ?

[2020-11-19 12:50] RomanSoviak opened #72 "Add possibility to pass textController"
After setState on widget my inputted text in `TagsTextField` became deleted. In my simple TextField I can manage it with TextController. Please Add possibility to pass textController to TagsTextField or how can I save the text inputted in TagsTextField before called setState() on Widget?

[2020-11-20 12:48] RomanSoviak commented on #72
@Dn-a How can I set the text to Edit Text field from code?

[2020-11-30 03:10] zatkontact commented on #63
Is this feature already added @Dn-a ?

[2020-12-02 07:15] rt16 opened #73 "Custom Validation while inserting Tags"
Any possibility to give custom validation while adding the tags?.

[2020-12-05 14:38] ShahzadUmarBaig opened #74 "Override default onPressed callback"
I couldn't find a way to override the default onPressed callback, I wanted to do something like, if the tag is active it can not be deactivated until a specific condition is met... but there is no way to get rid of the default onPressed to change active inactive value.

do let me know if there is a way to do that without conditionally working with pressEnabled property.

[2020-12-09 23:20] Akiat commented on #69
I'm using the submitted modification since I submitted the PR without any problem. I think it should be great to merge this PR 👍

[2021-01-14 18:59] #45 closed

[2021-01-14 19:01] #47 closed

[2021-01-14 19:01] #37 closed

[2021-01-14 19:02] #51 closed

[2021-01-14 19:05] #55 closed

[2021-01-14 19:07] #65 closed

[2021-01-25 09:40] buildnewapp commented on #51
`  _getAllItem(){
    tags = [];
    List<Item> lst = _tagStateKey.currentState?.getAllItem;
    if(lst!=null)
      lst.where((a) => a.active==true).forEach( (a){
        tags.add({'name':a.title, 'id':a.customData==null ?  '0' : a.customData.toString()});
      });

if (tags.length>3) {
      return showTip('最多选择3个标签！');
    }
  }`

[2021-03-21 18:03] SeriousMonk opened #75 "Keep focus after submit"
Hi,
How can I keep the focus on the TagsTextField after submitting a tag?
Currently it closes the keyboard every time a tag is submitted, I'd like to keep it open.
A solution would be to use a FocusNode in the TagsTextField but there is no such attribute.

Anyone knows of another way to achieve this?

[2021-03-28 10:53] Akiat commented on #68
Has this feature been added?

[2021-04-01 11:14] ming-chu commented on #75
I submitted a PR, hope this can merge.
https://github.com/Dn-a/flutter_tags/pull/78

for now, you can just use this by pointing to the git path in `pubspec.yaml`
[code]

[2021-04-01 14:01] SeriousMonk commented on #75
Thank you very much.
Undoubtedly this is a much needed feature.
I ended up just adding an external TextField after the Tags widget, and using a FocusNode to request focus after submission; like so:

[code]

[2021-04-01 14:19] ming-chu commented on #75
@FRANIAZA You can just use `focusAfterSubmit: true` with the PR as the following:
[code]

Your solution should work too 😉

[2021-04-07 23:19] sarbogast opened #79 "type 'Null' is not a subtype of type 'DataList' in type cast"
I'm trying to integrate this library into my project and I want to let users choose items from a list or add their own items to it. Here is what I have so far:

[code]

But when I start typing one of the _existingTopics and then type the submit button on the iOS keyboard, I see this:

<img width="408" alt="Capture d’écran 2021-04-08 à 00 16 26" src="https://user-images.githubusercontent.com/1437

[2021-04-08 03:34] zhoupenglei commented on #79
type 'Null' is not a subtype of type 'DataList' in type cast

item_tags.dart
151 line
       // set List length
    if (_dataListInherited!.list!.length < _dataListInherited!.itemCount!)
      _dataListInherited!.list!.length = _dataListInherited!.itemCount!;

[2021-04-15 15:01] SeriousMonk commented on #79
I am also getting the same error. It worked just fine before migrating to null safety.
The error is thrown for each ItemTags element built. If the list is empty no error is thrown.

[2021-04-15 15:39] FlagshipApps commented on #79
Same here

[2021-04-19 13:48] Umar-Khan-Yousafzai opened #80 "Several Issues, and feature request"
First of all, Thank you for creating this package.
There are the following issues.
### 1)  How can I unselect all items?

**as you can see in the image below**  I have tags and there are two buttons one is reset and the other updates.
I want to reset the selected tags to unselected when I click the reset button.
![image](https://user-images.githubusercontent.com/43144366/115245953-e3fd3a80-a13e-11

[2021-04-20 07:30] Umar-Khan-Yousafzai commented on #80
Sorry I couldn't see :(
[code]

but what to do about the other two?

how can I unselect all items on a button click and can you add an option in tagstate to get selected items only?

[2021-04-20 08:34] saprahits opened #81 "Tags' is defined in the libraries 'package:flutter_tags/src/tags.dart"
I'm getting one error. last one month to working fine but today's getting error help me.

The name 'Tags' is defined in the libraries 'package:flutter_tags/src/tags.dart (via package:flutter_tags/flutter_tags.dart)' and 'package:hussleapp/ui/dashboard/post/model/PostListModel.dart'.  Try using 'as prefix' for one of the import directives, or hiding the name from all but one of the imports.

Plugin

[2021-04-20 11:27] topilski commented on #79
Same

[2021-04-22 16:41] Umar-Khan-Yousafzai commented on #80
Please is anyone going to respond or not? Because we have come a long way and I don't want to change the CHIPS at this point in my application after approval from my client

[2021-05-01 11:06] Umar-Khan-Yousafzai commented on #80
Hi there, I had forked the flutter tags repository and have added three new things to the repository

1) select all items in the list
2) unSelect all items in the list
3) get selected items in the list

[2021-05-06 06:15] Anoirwork commented on #30
As said Item class has this field active which is final else we can change it's value even the user press on it to limit selecting i'm having the same issue

[2021-05-08 04:15] davidp918 commented on #79
Same

[2021-05-10 15:25] 48miles commented on #79
remove

if (_dataListInherited!.list!.length < _dataListInherited!.itemCount!)
_dataListInherited!.list!.length = _dataListInherited!.itemCount!;

and rerun your app. it worked for me.

[2021-05-10 18:39] GuilhermeLeivas commented on #79
Same here. I've tried **48miles** solution and it worked just fine for now.

[2021-05-20 08:41] ripetrescu opened #82 "Add support for null-safety"

[2021-06-02 15:52] mrruby commented on #79
Any news about that?

[2021-06-02 21:40] locohost opened #83 "There is no way to change the tag inActive color"
There is no way that I can find to change the tag inActive background color. It's fixed to white.

[2021-06-02 21:42] #83 closed, assigned to nobody

[2021-06-02 21:42] locohost commented on #83
Sorry, I found it

[2021-06-09 14:06] oddmentiusmaximus commented on #79
if (_dataListInherited!.list!.length < _dataListInherited!.itemCount!)
_dataListInherited!.list!.length = _dataListInherited!.itemCount!;
 commenting this out worked , can we update this

[2021-06-15 01:18] BachirBichri commented on #79
Any news on this?

[2021-07-06 08:59] xarmatura commented on #79
@sarbogast @Dn-a Same, it showstopper, could you please check?
#84 Merge maybe or give me an answer, please
**Update**
Flutter has already a native widget Chip or ActionChip

[2021-07-06 09:17] olyshchuk commented on #79
#84 Merge maybe or give me answer please

[2021-07-09 21:56] SeriousMonk commented on #82
I've been waiting for ages. You're probably better off creating it yourself like this:
[code]
This way you don't need to import any packages and it's not that many lines of code.

[2021-07-12 06:57] trinh-quang-hoc-i-enter-asia commented on #79
Pls fix it. Thanks.

[2021-07-30 10:51] bapm91 commented on #79
commented this don't worked for me.
[code]

I changed `final List<DataList> _list = [];` to `final List<DataList?> _list = [];` and correct the errors that follow from here
It's worked

[2021-08-10 16:10] jcblancomartinez opened #85 "No automatic scrolling into the right after adding a new tag"
Hi,

I've configured Tags with horizontalScroll: true and TagsTextField enabled.

After having added four tags (Test1, Test2, Test3, Test4), I no longer see the TagsTextField to enter my fifth tag (Test5). I need to manually scroll into the right.

![Screenshot from 2021-08-10 17-54-44](https://user-images.githubusercontent.com/1192455/128895412-22272b07-bbe9-420d-bb09-10a5cd38afe8.png)

I would e

[2021-09-07 08:28] ririlya commented on #69
What should i do, if i want to set only the first item is selected for the singleItem = true? for the first time init

[2021-11-14 07:41] szuwest commented on #79
same here

[2021-11-30 10:57] lijusparkt commented on #71
Hello Guys,
You can achieve this using  **pressEnabled** property.
Set **SingleItem** property = true; only if  the  user  click an 'inactive' item.

Also set **pressEnabled** = false on active item ( ie, block selection of active item )

This is the Only simple way...

int _technology_index = -1;

active: (_technology_index ==index),
singleItem:_technology_index != index,
 pressEnabled: _technolo

[2021-12-12 17:27] AppDevelopmentCorps opened #88 "Too many errors in the new null safety version, corrected some but please correct all and republish"
Here's mostly corrected version, still got some errors, please finish it

import 'dart:convert';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';

import 'package:flutter_tags/flutter_tags.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {

[2021-12-12 17:29] AppDevelopmentCorps commented on #88
Line 198
          items: _buildItems(),
                                    onChanged: (a) {
                                      setState(() {
                                        _column = a;
                                      });

Error on a

-------------------------
Line 375
             DropdownButton(
                                    hint: Text(_itemCombine),

[2021-12-12 17:33] AppDevelopmentCorps commented on #88
All these errors above are when I make a new flutter project
Use null safety pubspec   flutter_tags: ^1.0.0-nullsafety.1

Errors that come up

Launching lib\main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...
Warning: Mapping new ns http://schemas.android.com/repository/android/common/02 to old ns http://schemas.android.com/repository/android/common/01
Warning: Mapp

[2021-12-29 13:18] lemberh opened #89 "Null safe Alternative"
Seem that this project is not supported anymore
Here is a fork that has implemented null safety:
https://github.com/avdosev/flutter_tags/
https://pub.dev/packages/flutter_tags_x/install

[2022-01-23 18:50] rengert commented on #79
same here, would be great to get an update

[2022-02-16 06:47] malath-anaya commented on #72
Is this observation already considered @Dn-a?
I'm running into a similar issue as I want to allow submitting inputted text in `TagsTextField` with a `space` not just with an `enter`, which can be managed by the textController as well.

[2022-03-08 03:27] tony123S commented on #79
same!

[2022-03-08 04:59] tony123S commented on #89
is this issue fixed?

https://github.com/Dn-a/flutter_tags/issues/79

[2022-04-21 11:41] Carlo-TMC opened #91 "expose textfield controller"
Any idea how i can put a text in TagsTextField?  my objective is when user tap one of the tags, it will remove that tags and set the value of textfield base on what user taps. its like editing tags.

[2022-05-26 04:36] user97116 opened #92 "Upgrade to Flutter 3"

[2022-07-26 10:43] 1AhmedYasser commented on #92
I Added a pull request but until its merged you can use this

[code]

[2022-10-14 02:40] NICKmop commented on #28
if (selectedCountry != null) {
  selectedCountry.where((a) => a.active == true).forEach(
      (a) => a.active = false);
}`

thk for your reply but i can 't this source code { a.active } active is a final variable

do you have any other plans?